:root {
    /* --darkblue: #073B4c;
    background-color: var(--darkblue); */
} 
* {
    margin:0px;
    padding:0px;
}

.boards {
    display: grid;
    grid-auto-flow: column;
}
.playerSide, .aiSide {
    text-align: center;
}
.playerBoard, .aiBoard{
    margin: 0 auto;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    column-gap:0px;
    width: 45vw;
    height: 45vw;;
    
}
.playerBoardCell, .aiBoardCell {
    height:4.5vw;
    width:4.5vw;
    border: 1px black solid;
    display: grid;
    justify-content: center;
    align-content: center;
}
.playerBoardCell.ship {
    background-color: blue;
}
.aiBoardCell.ship{
    background-color: rgb(168, 168, 245);
}
.hit {
    
}
.image { 
}