:root {
    /* --darkblue: #073B4c;
    background-color: var(--darkblue); */
} 
* {
    margin:0px;
    padding:0px;
}
.header{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
.boards {
    display: grid;
    grid-auto-flow: column;
}
.playerSide, .aiSide { }
.boardTitle {
    text-align: center;
    margin-bottom: 4px;
}
.playerBoard, .aiBoard{
    margin: 0 auto;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    column-gap:0px;
    width: 45vw;
    height: 45vw;;
    
}
.playerBoardCell, .aiBoardCell {
    height:calc(4.5vw - 2px);
    width:calc(4.5vw - 2px);
    border: 1px black solid;
    display: grid;
    justify-content: center;
    align-content: center;
    overflow:hidden;
}
.playerBoardCell.ship {
    background-color: blue;
}
.aiBoardCell.ship{
    background-color: rgb(168, 168, 245);
}
.hit {
    
}
.image { 

}
.lastMove {
    text-align: center;
    margin-top:4px;
}
.winPopup {
    display:none;
    position: absolute;
    margin-left:25vw;
    margin-top:5vh;
    border:2px black solid;
    border-radius: 8px;
    height: 20vw;
    width: 40vw;
    background-color: white;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.playAgain {
    font-size:1.5rem;
}